<div class="background" style="overflow-x: hidden; overflow-y: hidden;">


  <div class="container p-5">
    <div class="row">
      <div>

        
        <div class="card-deck">
          <div data-aos="zoom-in" class="card animated fadeInDown">
            <img src="../../../assets/limpieza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Limpieza y Desinfección</h5>
              <p class="card-text">texto</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div data-aos="zoom-in" class="card animated fadeInDown">
            <img src="../../../assets/mascotas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Manejo de mascotas</h5>
              <p class="card-text">text</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <br>
        <div data-aos="zoom-in" class="card-deck">
          <div class="card animated fadeInDown">
            <img src="../../../assets/familia.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Medidas al entrar y salir de la vivienda</h5>
              <p class="card-text">text</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card animated fadeInDown">
            <img src="../../../assets/water.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Recomendaciones con el agua</h5>
              <p class="card-text">text</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <br>
        <div data-aos="zoom-in" class="card-deck">
          <div class="card animated fadeInDown">
            <img src="../../../assets/limpieza-vehiculo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vehiculos particulares y transporte publico</h5>
              <p class="card-text">text</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card animated fadeInDown">
            <img src="../../../assets/cuidados.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Recomendaciones para contener el avance de las infecciones respiratorias</h5>
              <p class="card-text">text</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>




      </div>
      
    </div>
  </div>
</div>