<div class="container p-5">
    <div class="row">
        <div class="card mx-auto p-4">
            <h3 class="text-center">Gracias por registrarte en COVID DESTROY</h3>
            <hr>
            <div class="card-body">
                <p class="text-center">
                    Hemos enviado un vinculo de verificacion a <strong>{{emailAddress}} </strong> 
                </p>
                <br>
                <div class="text-center">
                    <small class="text-primary">¿No te llego el vinculo de verificación?</small>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-primary">Reenviar</button>

                </div>
                <div class="text-center">
                    <button [routerLink]="['/welcome']" class="btn btn-info">Ir a la pagina principal</button>
                </div>

            </div>
        </div>
    </div>
</div>
