<div class="background" style="overflow-x: hidden; overflow-y: hidden;">
    <!--
    <div class="col-1 mx-auto bg-light" style="float: right;">
        <div class="text-right">
            <img src="../../../assets/LogoIUSH.png" alt="" style="width: 100px; height: auto;">
        </div>
    </div>
    -->
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-2">
                <div class="text-left">
                    <button id="btnBack" [routerLink]="['/welcome']" class="btn btn-info">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="limiter animated fadeInLeft">

        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90 p-l-10 p-r-10">
                <div class="text-center">
                    <i class="fas fa-virus fa-spin fa-3x" style="color: #1a76a1;"></i> <br> <br>
                </div>
                <form (ngSubmit)="onSubmit( F )" #F="ngForm" class="login100-form validate-form flex-sb flex-w">

                    <span class="login100-form-title p-b-51">
                        INICIAR SESIÓN
                    </span>

                    <span *ngIf="F.submitted && F.controls['email'].errors" class="text-danger">El correo es
                        obligatorio</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100" type="email" name="email" placeholder="Correo electrónico"
                            [(ngModel)]="usuario.email" required minlength="2">

                        <span class="focus-input100"></span>
                    </div>

                    <span *ngIf="F.submitted && F.controls['pass'].errors" class="text-danger">La contraseña debe de ser
                        más de 6 caracteres</span>
                    <div class="wrap-input100 m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Contraseña"
                            [(ngModel)]="usuario.password" required minlength="6">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="contact100-form-checkbox">
                            <input [(ngModel)]="recordarUsuario" class="input-checkbox100" id="ckb1" type="checkbox"
                                name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                        </div>

                        <div>
                            <a routerLink="/signUp" class="txt1">
                                ¿No tienes cuenta?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Ingresar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>