<div class="background">

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-12">
                <div class="text-left">
                    <button [routerLink]="['/welcome']" class="btn btn-danger">
                        <i class="fas fa-arrow-left"></i>
                        Volver
                    </button>
                    <button (click)="cerrarSesion()" [routerLink]="['/welcome']" class="btn btn-danger"
                        style="float: right;">
                        <i class="fas fa-sign-out-alt"></i>
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </div>
    </div>


    <form (ngSubmit)="onSubmit(ref)" #ref="ngForm" autocomplete="off">
        <div class="limiter animated fadeInLeft">
            <div class="container-login100">
                <div class="wrap-login100 p-t-50 p-b-50 p-l-50 p-r-50">
                    <span class="login100-form-title p-b-51">
                        REGISTRAR SINTOMAS
                        <i class="fas fa-virus fa-spin"></i>
                    </span>
                    <small class="text-info">Indica que sintoma(s) estas presentando</small>
                    <br>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" name="fiebre"
                            required>
                        <label class="label-checkbox100" for="ckb1">
                            Fiebre
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb2" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb2">
                            Dolor de garganta
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb3" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb3">
                            Congestión Nasal
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb4" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb4">
                            Tos
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb5" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb5">
                            Difilcultad para Respirar
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb6" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb6">
                            Fatiga
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb7" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb7">
                            Escalofrío
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb8" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb8">
                            Dolor o presion en el pecho
                        </label>
                    </div>
                    <br>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb9" type="checkbox" name="remember-me" required>
                        <label class="label-checkbox100" for="ckb9">
                            Incapacidad para respirar
                        </label>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button [routerLink]="['/symptoms2']" class="login100-form-btn" type="submit">
                            CONTINUAR
                        </button>
                    </div>

                </div>
            </div>
        </div>









    </form>




</div>