<div class="background">
  <div class="container-fluid p-4">
    <div class="col-2">
      <div class="text-left">
        <button [routerLink]="['/welcome']" class="btn btn-danger">
          <i class="fas fa-arrow-left"></i>
          Volver
        </button>
      </div>
    </div>
  </div>
  
  <div class="container p-5 animated fadeInLeft">
    <div class="row">
      <div class="card mt-2 p-5">

        <div class="col text-center">

          <span class="login100-form-title p-b-51">
            <i class="fas fa-virus fa-spin"></i> <br>
            INFORMACION

          </span>
          <hr>

          <h3 class="text-secondary">En caso de presentar diagnostico positivo de acuerdo a nuestros analisis <br>
            Comunicate con las siguientes lineas:</h3>

          <br>
          <strong>Linea de atencion<br></strong>
          <i class="fas fa-mobile-alt"></i> <br>

          <small>Desde Celular: 192</small>
          <br>

          <small>Bogota: 123</small>
          <br>



          <small>Medellin: 123 - #774</small>
          <br>
          <small>Nacional: 01 8000 95 55 90</small>

        </div>

      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
